
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111; 
    padding: 15px 50px;
    color: white;
}


.logo {
    font-size: 24px;
    font-weight: bold;
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ccc;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: white;
}


.login-btn {
    background-color: #ff6600; 
    color: white;
    border: none;
    padding: 8px 25px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-btn:hover {
    background-color: #e65c00;
}