body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    margin: 40px auto;
    background-color: #e6e6e6;
}

caption {
    font-weight: bold;
    margin-bottom: 8px;
}

th, td {
    border: 1px solid black;
    padding: 8px 14px;
    text-align: center;
}

th {
    font-weight: bold;
}
