body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

nav {
    background: #111;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 30px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}



.card img {
    width: 100%;
    height: 180px;        
    object-fit: cover;   
    border-radius: 8px;
}


.price {
    font-weight: bold;
}

.price.red {
    color: red;
}

.out {
    color: gray;
    font-size: 14px;
}
